<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="Thymeleaf"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>

    <meta charset="UTF-8"/>

    <title>A系统页面</title>

</head>

<body>

<h3>A系统-index</h3>
username:<h1 style="color: green" th:text="${ssoUser.username}"></h1>

<a th:href="@{http://localhost:8082/appB?(sso_session_id=${ssoUser.sessionId})}">
    访问B系统,跨系统传递sessionId
</a>
</br>
<a th:href="@{http://localhost:8082/appA/logout?(sso_session_id=${ssoUser.sessionId})}">
    退出系统
</a>
</br>
<button onclick="getUser()">获取用户信息</button>
</br>
用户信息:
<textarea cols="10" rows="5" id="userInfo"></textarea>
<input type="hidden" id="sessionId" th:value="${ssoUser.sessionId}">

<script th:src="@{/js/layui/layui.all.js}"></script>
<script type="text/javascript">
    $ = layui.jquery;
    $.ajaxSetup()
    /**
     * 浏览器缓存sessionId,每次请求都自动携带该header,当然,这并不适合浏览器,更适合移动端,由移动端保存
     * 每次请求都在header中携带sessionId
     */
    localStorage.setItem('sessionId', $("#sessionId").val());

    function getUser() {
        $.ajax({
            method: "get",
            url: "/appA/login",
            dataType: 'json',
            headers: {
                'sso_session_id': localStorage.getItem('sessionId')
            },
            success: function (result) {
                $("#userInfo").val(result);
            }
        })
    }
</script>
</body>

</html>
